body {
    color: #8b8b8b;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}
.masthead {
    padding: 8em 0;
    background-image: url('https://mail.google.com/mail/u/0?ui=2&ik=3c5d84604e&attid=0.1&permmsgid=msg-f:1696946310808576057&th=178cc3adcaa7a039&view=att&disp=safe');
    background-size: cover;
    background-repeat: no-repeat;
}
.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    color: #ffffff;
}

.masthead-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
}
.rounded {
    padding-top: 2rem;
}
.container-fluid {
    justify-content: center;
    background-color: rgb(126, 126, 126);
}
#footer {
    padding: 20px 0;
    text-align: center;
    background-color: #111111;
    text-decoration: none;
    
}
footer {
    display: block;
}
a {
    color: #ffffff;
}
 .btn-primary {
     color: rgb(152, 163, 185);
 }
